*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-color: #f0f0f0; 
  /* min-height: 100vh;   */
  padding: 20px;  
  display: flex;     
  flex-wrap: wrap;
  gap: 5px;
}

.card{
  height: 300px;
  width: 240px;
  border: 0px solid rgb(201, 201, 201);
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  gap: 25px;
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button{
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10%;
  border: 1px solid gray;
  font-size: 12px;
}

.header img{
  height: 50px;
  border: 2px solid rgb(223, 223, 223);
  border-radius: 50px;
}

.center{
  display: flex;
  flex-direction: column;
}

.time{
  display: flex;
  gap: 5px;
  align-items: baseline;
}

.time p, .salloc p{
  font-size: 12px;
  color: rgb(165, 165, 165);
}

.time h3,
.salloc h3 {
  font-size: 19px;
  line-height: 1.1;
}


.center h2 {
  font-size: 28px;
  line-height: 1.1; 
  margin: 0;         
}


.tags{
  display: flex;
  gap: 8px;
}

.tags button{
  font-size: 11px;
  background-color: rgb(222, 222, 222);
  border: none;
  border-radius: 5px;
  padding: 3px 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;  
  padding-top: 8px;
  border-top: 1px solid rgb(230, 230, 230);
}


.footer button {
  box-sizing: border-box;
  height: 35px;               
  width: 100px;             
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}